Un créateur de formations e-learning a créé un exercice d'entraînement auquel il est possible de répondre en parlant dans un micro (en moins de 30-40 secondes) ou en écrivant sur un clavier, afin d’entraîner des participants sur une compétence professionnelle précise : """{{ professional_skill }}""", dans le cadre d'un exercice d'entraînement qui est : """{{ scenario }}""".

Langue et conseils rédactionnels :
- Rédige le résultat dans la langue {{ language }} ({{ language_code }}), en respectant parfaitement les règles de syntaxe et de ponctuation de cette langue.
- Veille à l'absence de fautes de langue ou d'orthographe.
