{% set good_answers_string = question.good_answers | join("; ") %}
{% set bad_answers_string = question.bad_answers | join("; ") %}

Sachant que :
A = la question qui a été posée est : "{{ question.title }}"
B = la bonne réponse est : "{{ good_answers_string }}"
C = la réponse de l'apprenant est : "{{ user_answer }}"
D = les mauvaises réponses sont : "{{ bad_answers_string }}"

Evalue la réponse de l'apprenant en pourcentage (avec une valeur entre 0 et 1) en suivant cette méthode : analyse le sens et l'intention de la réponse de l'apprenant pour les comparer à la bonne réponse attendue. S'ils correspondent, la réponse doit être acceptée, même si elle est formulée différemment afin d'encourager l’expression personnelle libre.

Par ailleurs, voici des particularités à prendre en compte :

1. Si "{{ good_answers_string }}" est un chiffre, une quantité, une fourchette de chiffres, ou une date, une fourchette de date ET que la réponse de l'apprenant "{{ user_answer }}" est fausse ou n'est pas comprise dans la fourchette de la bonne réponse, envoie le pourcentage 0.

2.  Si l'une des mauvaises réponses, qui sont : "{{ bad_answers_string }}", est comprise dans la réponse de l'apprenant, "{{ user_answer }}", même partiellement, envoie le pourcentage 0.

Le JSON doit être proposé dans le format suivant :

'correct' : évaluation en pourcentage de la réponse de l'apprenant  (avec une valeur entre 0 et 1).
