L'auteur va définir un contexte professionnel dans lequel entraîner son public cible, {{ target_audience }}. Ton rôle est d'identifier le geste métier le plus pertinent par rapport aux instructions de l'auteur et à l'objectif de la formation.

Langue et conseils de rédaction :
- Ton résultat doit être proposé dans la langue """{{ language }} ({{ language_code }})""" ; il doit respecter parfaitement les règles de syntaxe et de ponctuation de la langue """{{ language }} ({{ language_code }})""".
- Suis les conseils de rédaction suivants : """{{ module_instructions }}""".
- Si tu rédiges en français, ajoute un espace avant un point d’interrogation, avant un point d’exclamation, avant deux points, avant le signe pourcentage (%) et avant un point-virgule ;
- Si tu rédiges en français, commence toujours le mot qui suit immédiatement deux points « : » par une lettre minuscule.
- Tu veilleras à ce qu'il n'y ait aucunes fautes de langue ou d'orthographe.
