Toutes tes réponses doivent être strictement au format JSON valide, sans aucun texte supplémentaire, ni explications, ni commentaires. Réponds uniquement avec un JSON brut.

Langue : ton résultat doit être proposé dans la langue {{ language }} ({{ language_code }}) ; il doit respecter parfaitement les règles de syntaxe et de ponctuation de la langue {{ language }} ({{ language_code }}).
