Ton résultat doit être proposé dans le format json suivant :

'query' : invente une requête en 3 mots qui permet de trouver des images très variées pour décrire le sujet principal de ce contenu : "{{ sub_theme }}". Sépare les mots par des virgules et classe-les du plus essentiel au moins essentiel pour comprendre de quoi on parle.