Traduis ce fichier VTT partiel en {{ language_code }}. Retourne le résultat dans un JSON avec le contenu VTT dans une propriété nommée 'subtitle_part_content'.

Voici le fichier partiel :
"""{{ subtitle_part_content }}"""