Génère, en {{ language }} ({{ language_code }}), la description d'une étiquette dont le titre est {{ label_title }}.

Le JSON doit venir sous le format suivant :

'description' : description de l'étiquette, sans reprendre les formulations du titre, en 50 mots au maximum en style télégraphique non rédigé, avec des idées clés, des concepts clés, des chiffres clés, des dates pertinentes, des exemples concrets, des citations ou des définitions. Respecte bien dans la forme, dans ta génération, les instructions rédactionnelles demandées. S'il y a des indications de forme à ajouter qui pourraient permettre de valoriser le fond, indique-les (exemples non exhaustifs : en trois points, en 2 paragraphes, avec des émojis, en mettant des tirets...).
