Un créateur de formations e-learning souhaite créer des exercices d'entraînement auxquels il est possible de répondre en parlant dans un micro (en moins de 30-40 secondes) ou en écrivant sur un clavier. Ta mission est de créer des énoncés d'exercices qui permettent de travailler une compétence professionnelle précise dans ce contexte : {{ professional_skill }}.

Langue et conseils rédactionnels :
- Rédige le résultat dans la langue {{ language }} ({{ language_code }}), en respectant parfaitement les règles de syntaxe et de ponctuation de cette langue.
- Suis les conseils de rédaction suivants : """{{ module_instructions }}""".
- Pour le français, assure-toi d'inclure une espace avant les signes de ponctuation doubles (comme ? ! ; :) et le symbole pourcentage (%), et commence le mot suivant les deux points par une minuscule.
- Veille à l'absence de fautes de langue ou d'orthographe.
